/* Vertical lines to the left of cells in top row */
.btn:nth-child(2)::before,
.btn:nth-child(3)::before {
  position: absolute;
  top: 0;
  left: -5px;
  content: '';
  border-left: 5px solid grey;
  height: 100%;
}

/* Vertical lines to the left of cells in all other rows */
.btn:nth-child(3n+5)::before,
.btn:nth-child(3n+6)::before {
  position: absolute;
  top: -12px;
  left: -5px;
  content: '';
  border-left: 5px solid grey;
  height: calc(100% + 12px);
}

/* Horizontal lines above cells in first columns */
.btn:nth-child(3n+4)::after {
    position: absolute;
    top: -5px;
    left: 0;
    content: '';
    border-bottom: 5px solid grey;
    width: 100%;
}
  
/* Horizontal lines above cells in all other columns */
.btn:nth-child(3n+5)::after,
.btn:nth-child(3n+6)::after {
    position: absolute;
    top: -5px;
    left: -12px;
    content: '';
    border-bottom: 5px solid grey;
    width: calc(100% + 12px);
}