*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

body{
    background-color: #FFFDD0;
}

.main-container{ 
    display:flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

/* player role styling */
.role-container{ 
    display: flex; 
    width: 20vh;
    justify-content: center;
}

.p-signs{ 
    padding-top: 30px;
    padding-bottom: 30px;
}


.p-signs button{ 
    border-radius: 5px;
    position: relative;
    border : 0;
    background-color:#FFFDD0;
    cursor: pointer;
    border:0.1em solid black;
    margin-right: 1em;
    margin-left: 1em;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    padding:0.5em 1.7em;
    transition: all 0.2s;
}

.p-signs button:hover{ 
    color:#FAFAF8;
    background-color:#70483C;
}

.role.active{ 
    color:#FAFAF8;
    background-color:#70483C;
}



/* Game area styling */
.container{
    min-height: 50vh;
    display:flex; 
    justify-content: center;
    align-items: center;
}

.grid-buttons{
    display: inline-grid;
    height: 80vh;
    width: 80vh;
    grid-template-columns: auto auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-items: center;
}

.btn{
    display: inline;
    border-radius: 5px;
    position: relative;
    border: 0;
    background-color: #FFFDD0;
    cursor: pointer;
    transition: all 0.2s;
    height: 192px;
    width: 192px;
}

.btn:hover{
    color:#FAFAF8;
    background-color:#70483C;
}

/* Vertical lines to the left of cells in top row */
.btn:nth-child(2)::before,
.btn:nth-child(3)::before {
  position: absolute;
  top: 0;
  left: -5px;
  content: '';
  border-left: 5px solid grey;
  height: 100%;
}

/* Vertical lines to the left of cells in all other rows */
.btn:nth-child(3n+5)::before,
.btn:nth-child(3n+6)::before {
  position: absolute;
  top: -12px;
  left: -5px;
  content: '';
  border-left: 5px solid grey;
  height: calc(100% + 12px);
}

/* Horizontal lines above cells in first columns */
.btn:nth-child(3n+4)::after {
    position: absolute;
    top: -5px;
    left: 0;
    content: '';
    border-bottom: 5px solid grey;
    width: 100%;
}
  
/* Horizontal lines above cells in all other columns */
.btn:nth-child(3n+5)::after,
.btn:nth-child(3n+6)::after {
    position: absolute;
    top: -5px;
    left: -12px;
    content: '';
    border-bottom: 5px solid grey;
    width: calc(100% + 12px);
}

/* Footer Styling */
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: 15px;
    padding-bottom: 4px;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#gh-logo{
    width: 15px;
    height: 15px;
}

#gh-link{
    text-decoration: none;
    color: black;
}